---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
const identity = {
  firstName : "Sean",
  country : "USA",
  occupation : "data analytics student",
  hobbies : ["embedded programming", "barbecuing"],
}
const skills =  ["Rust", "Python", "JavaScript"]
const happy = true;
const finished = true;
const goal = 3;
const skillColor = "grey"
const fontWeight = "bold"
const textCase = "uppercase"
---

<BaseLayout pageTitle={pageTitle}>
  <style is:global define:vars={{skillColor, fontWeight, textCase}}>
h1 {
  color: DarkRed;
  font-size: 4rem;
}
.skill {
  color: var(--skillColor);
  font-weight: var(--fontWeight);
  text-transform: var(--textCase);
}

</style>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}</li>
    <li>I live in {identity.country} and I'm a {identity.occupation}. </li>
    
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
