---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "Posts";
const allPosts = await getCollection("blog");
---
<BaseLayout pageTitle={pageTitle}>
  <h1>TEST</h1>
  <ul>
    {allPosts.map((post: any) => (
    <BlogPost url={`/posts/${post.id}`}
    image={post.data.image.url}
    altText={post.data.image.alt}
    date={post.data.pubDate.toLocaleDateString()}
    title={post.data.title}
    description={post.data.description}
     />))}

  </ul>
</BaseLayout>

