---
import { Image } from "astro:assets";
const {url, title, image, altText, date, description} = Astro.props;
const isImageObject = typeof image === "object";
---
<li><a href={url}>
<p>{date} {title}</p>
{isImageObject ? (
  <Image class="heroImage" src={image} alt={altText} widths={[400, 800, 1200]} sizes="100vw" />
  ) : (
    <img class="heroImage" src={image} alt={altText} />
  )}
  <p>{description}</p>
</a></li>
