---
import HeroImage from "./HeroImage.astro";
import Prose from "./Prose.astro";
const {url, title, image, altText, date, description } = Astro.props;
---
<li class="my-8">
  <a href={url}>
    <article class="mx-auto card hover:shadow-md transition-transform duration-200 ease-in-out">
      <div class="card-body">
        <h2 class="card-title">{date}</h2>
        <h2 class="card-title">{title}</h2>
        <br/>
        <HeroImage image={image} altText={altText} />
        <Prose>
        <p>{description}</p>
      </Prose>
      </div>
    </article>
  </a>
</li>

