---
import BaseLayout from "./BaseLayout.astro";
import { Image } from 'astro:assets';
const {frontmatter} = Astro.props;
const isImageObject = typeof frontmatter.image.url === "object";
---
<BaseLayout pageTitle={frontmatter.title}>
  <p>{frontmatter.pubDate.toLocaleDateString()}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>Written by: {frontmatter.author}</p>
  {isImageObject ? (
    <Image class="heroImage w-full" src={frontmatter.image.url} alt={frontmatter.image.alt} widths={[400, 800, 1200]} sizes="100vw" />
  ) : (
    <img class="heroImage w-full" src={frontmatter.image.url} alt={frontmatter.image.alt} />
  )}
  <slot />
  <div class="tags flex-wrap">
    {frontmatter.tags.map((tag: string) => (
      <button class="btn btn-sm text-secondary m-2"><a href={`/tags/${tag}`}>{tag}</a></button>
    ))}
  </div>
</BaseLayout>
