---
import BaseLayout from "./BaseLayout.astro";
import { Image } from 'astro:assets';
import Prose from "../components/Prose.astro";
import DateTitle from "../components/DateTitle.astro"
import HeroImage from "../components/HeroImage.astro";
const {frontmatter} = Astro.props;
const isImageObject = typeof frontmatter.image.url === "object";
---
<BaseLayout pageTitle={frontmatter.title}>
  <DateTitle title={frontmatter.title} date={frontmatter.pubDate} />
  <HeroImage image={frontmatter.image.url} altText={frontmatter.image.alt} />
  <Prose>
  <p>{frontmatter.description}</p>
  <slot/>
  </Prose>
  <div class="tags flex-wrap">
    {frontmatter.tags.map((tag: string) => (
      <button class="btn btn-sm text-secondary m-2"><a href={`/tags/${tag}`}>{tag}</a></button>
    ))}
  </div>
</BaseLayout>
